@model IEnumerable<Group2_iCare.Models.iCAREAdmin>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Your Account</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdminEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateHired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFinished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iCAREUser.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdminEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateHired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFinished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iCAREUser.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<div>
    <p></p>
    @Html.ActionLink("Back to Admin Dashboard", "AdminDashboard", "ManageAccounts")
</div>
