@model IEnumerable<Group2_iCare.Models.UserRole>

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/userRoles.css" rel="stylesheet" type="text/css" />
</head>

<h2>User Roles</h2>

<table class="table">
    <tr>
        <th>
            Role
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>


<div>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-outline-success" })
    <a href="/ManageAccounts/AdminDashboard" class="btn btn-outline-danger">Back to Admin Dashboard</a>

</div>
