@model Group2_iCare.Models.iCAREUser

<head>
    <link href="~/Content/workerdashboard.css" rel="stylesheet" type="text/css" />
</head>

@{
    var message = TempData["LoginMessage"] as string;
    if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            @message
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<!--
    Change from admin container to container??? idk css protocall to much    
-->
<body class="admin-container">
    <div class="dash-title">Worker Dashboard</div>

    <div class="item-container">
        <a href="@Url.Action("iCAREBoardForm", "iCAREBoard")" class="card text-decoration-none text-dark item-card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">iCARE Board</h5>
                <p class="card-text">
                    View Patients at a Specific Location
                </p>
            </div>
        </a>
        <a href="@Url.Action("AssignPatientForm", "AssignPatient")" class="card text-decoration-none text-dark item-card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">Assign Patient</h5>
                <p class="card-text">
                    Assign Patients to yourself
                </p>
            </div>
        </a>
        <a href="@Url.Action("DisplayMyBoard", "DisplayMyBoard")" class="card text-decoration-none text-dark item-card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">Display My Board</h5>
                <p class="card-text">
                    View Patients Assigned to You
                </p>
            </div>
        </a>
        <a href="@Url.Action("Index", "PatientRecords")" class="card text-decoration-none text-dark item-card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">Manage Patient Records</h5>
                <p class="card-text">
                    Manage Patient Records
                </p>
            </div>
        </a>
        <a href="@Url.Action("Index", "DisplayPalette")" class="card text-decoration-none text-dark item-card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">Display Palette</h5>
                <p class="card-text">
                    Display GUI Window showing document metadata (e.g. patient info)
                </p>
            </div>
        </a>
        <a href="@Url.Action("Index", "ImportDocuments")" class="card text-decoration-none text-dark item-card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">Import/Export Documents</h5>
                <p class="card-text">
                </p>
            </div>
        </a>
    </div>
</body>
