@model Group2_iCare.Models.iCAREUser

<div class="jumbotron">
    <h1>iCARE Admin Dashboard</h1>
    <p class="lead">Hello, @Model.Name. Use this page to manage users.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("iCARE Users", "Index", "iCAREUsers")</h2>
        <p>
            Manage Users
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("iCARE Workers", "Index", "iCAREWorkers")</h2>
        <p>
            Manage Workers
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("iCARE Admin", "Index", "iCAREAdmins")</h2>
        <p>
            Manage Your Account
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("iCARE User Passwords", "Index", "UserPasswords")</h2>
        <p>
            Manage Passwords
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("iCARE User Roles", "Index", "UserRoles")</h2>
        <p>
            Manage User Roles
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Manage GeoCodes", "Index", "GeoCodes")</h2>
        <p>
            Manage Geographic Codes
        </p>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Manage Docs", "Index", "DocumentMetadatas")</h2>
        <p>
            Manage Documents
        </p>
    </div>
</div>

<div>
    <p></p>
    @Html.ActionLink("Logout", "Logout", "UserAuthentication", new { }, new { @class = "btn btn-outline-primary" })
</div>
