@model Group2_iCare.Models.iCAREUser

<head>
    <link href="~/Content/admindashboard.css" rel="stylesheet" type="text/css" />
</head>

@{

    ViewBag.Title = "Admin Dashboard";

    var message = TempData["LoginMessage"] as string;
    if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            @message
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<body class="admin-container">

    <div class="dash-title">Admin Dashboard</div>

    <div class="item-container">
        <a href="@Url.Action("Index", "UserRoles")" class="card text-decoration-none text-dark item-card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">iCARE User Roles</h5>
                <p class="card-text">Manage User Roles</p>
            </div>
        </a>
        <a href="@Url.Action("AssignPatientForm", "AssignPatient")" class="card text-decoration-none text-dark item-card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">Assign Patient</h5>
                <p class="card-text">Assign Patients to Workers</p>
            </div>
        </a>
        <a href="@Url.Action("Index", "DisplayPalette")" class="card text-decoration-none text-dark item-card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">Display Palette</h5>
                <p class="card-text">Display GUI Window showing document metadata (e.g. patient info)</p>
            </div>
        </a>
        <a href="@Url.Action("Index", "PatientRecords")" class="card text-decoration-none text-dark item-card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">Manage Patient Records</h5>
                <p class="card-text">Manage Patient Records</p>
            </div>
        </a>
        <a href="@Url.Action("Index", "GeoCodes")" class="card text-decoration-none text-dark item-card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">Manage GeoCodes</h5>
                <p class="card-text">Manage Geographic Codes</p>
            </div>
        </a>
        <a href="@Url.Action("Index", "AdminCreateUsers")" class="card text-decoration-none text-dark item-card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">Accounts</h5>
                <p class="card-text">Manage Accounts</p>
            </div>
        </a>
        <a href="@Url.Action("Index", "ImportImage")" class="card text-decoration-none text-dark item-card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">Import Image</h5>
                <p class="card-text">Import Images</p>
            </div>
        </a>
    </div>
</body>
