@model Group2_iCare.Models.UserAuthentication

@{ 
    ViewBag.Title = "Log In";
}

<head>
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <div class="form-container">
        <div class="login-form">
            <h2>Welcome Back!</h2>
            <p>Enter to get access to the management system.</p>
            <div class="form">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group form-section">
                    <div>Username</div>
                    <div>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control form-inputs" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div>Password</div>
                    <div class="">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <p></p>
                <div class="form-group">
                    <div>
                        <input type="submit" value="Login" class="btn btn-primary submit-btn" />
                        @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-outline-dark back-btn" })
                    </div>
                </div>
            </div>
        </div>
    </div>


}
