@model Group2_iCare.Models.DocumentMetadata

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DocumentMetadata</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModificationHistory.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModificationHistory.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DocID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
