@model (IEnumerable<Group2_iCare.Models.DocumentMetadata>, IEnumerable<Group2_iCare.Models.Files>)

@{
    ViewBag.Title = "Index";
}

<h1>Documents</h1>
<hr />

<div class="d-flex align-items-center justify-content-between">
    <h2>PDFs</h2>
    @Html.ActionLink(
        "Manage PDFs through Patient Records",
        "Index",
        "PatientRecords",
        null,
        new {@class = "btn btn-danger"}
    )
</div>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Content Type</th>
            <th>Upload Date</th>
            <th>Uploaded By ID</th>
        </tr>
    </thead>
    @foreach (var file in Model.Item2)
    {
        <tr>
            <td>@file.FileName</td>
            <td>@file.ContentType</td>
            <td>@file.UploadDate</td>
            <td>@file.UploadedByID</td>
            <td>
                @Html.ActionLink(
               "View Document",
               "Index",
               "ImportImage",
               new {PatientRecordID = 10
               })
            </td>
        </tr>
    }
</table>

<hr />
<div class="d-flex align-items-center justify-content-between">
    <h2>Other Documents</h2>
    @Html.ActionLink(
    "Manage Other Documents",
    "Index",
    "ManageDocuments",
    null,
    new {@class = "btn btn-danger"}
    )
</div>
<hr />


<table class="table">
    <thead>
        <tr>
            <th>Patient ID</th>
            <th>Doc ID</th>
            <th>Description</th>
        </tr>
    </thead>
    @foreach (var documentMetadata in Model.Item1)
    {
        <tr>
            <td>@Html.DisplayFor(_ => documentMetadata.PatientID)</td>
            <td>@Html.DisplayFor(_ => documentMetadata.DocID)</td>
            <td>@Html.DisplayFor(_ => documentMetadata.Descript)</td>
        </tr>
    }
    <hr />
</table>


