@model IEnumerable<Group2_iCare.Models.UserPassword>

@{
    ViewBag.Title = "Index";
}

<h2>Manage User Passwords</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EncryptedPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordExpiryTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAccountExpriyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iCAREUser.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EncryptedPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordExpiryTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccountExpriyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iCAREUser.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<div>
    <p></p>
    @Html.ActionLink("Back to Admin Dashboard", "AdminDashboard", "ManageAccounts")
</div>
