@{
    ViewBag.Title = "Import Image";
}

@model Group2_iCare.Models.PatientRecord

<head>
    <link href="~/Content/importimages.css" rel="stylesheet" type="text/css" />
</head>

<div class="images-bg">
    <div class="images-container">
        <h2 class="mb-3">Images</h2>


        @using (Html.BeginForm("Upload", "ImportImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.Hidden("PatientRecordID", (int)ViewBag.PatientRecordID)

            <div class="mb-3">
                <button class="btn btn-outline-primary" type="button" onclick="location.href='@Url.Action("BrowseFiles", "ImportImage", new { PatientRecordID = ViewBag.PatientRecordID })'">Upload Image</button>
                <button class="btn btn-outline-primary" type="button" onclick="location.href='@Url.Action("Scanner", "ImportImage", new { PatientRecordID = ViewBag.PatientRecordID })'">Upload via Scanner</button>
                <button class="btn btn-outline-secondary" type="button" onclick="location.href='@Url.Action("EditFile", "ImportImage", new { PatientRecordID = ViewBag.PatientRecordID })'">Edit files</button>
                <button class="btn btn-outline-success" type="button" onclick="location.href='@Url.Action("Index", "PatientRecords", new { PatientRecordID = ViewBag.PatientRecordID })'">Save</button>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Content Type</th>
                        <th>Upload Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in ViewBag.UploadedFiles)
                    {
                        <tr>
                            <td>@file.FileName</td>
                            <td>@file.ContentType</td>
                            <td>@file.UploadDate</td>
                            <td>
                                @Html.ActionLink("View", "ShowUploadedFile", new { fileName = file.FileName, PatientRecordID = ViewBag.PatientRecordID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @Html.ActionLink("Back to Worker Dashboard", "Index", "WorkerDashboard", null, new {@class = "btn btn-danger"})
        }
    </div>
</div>
