@{
    ViewBag.Title = "Import Image";
}

<h2>Import Image</h2>

@using (Html.BeginForm("Upload", "ImportImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <h5>Logged-in User ID: @ViewBag.PatientRecordID</h5>

    <div>
        <button type="button" onclick="location.href='@Url.Action("BrowseFiles", "ImportImage")'">Browse files</button>
        <button type="button" onclick="location.href='@Url.Action("EditFile", "ImportImage")'">Edit file</button>
        <button type="button" onclick="location.href='@Url.Action("Scanner", "ImportImage")'">Scanner</button>
        <button type="button" onclick="location.href='@Url.Action("AdminDashboard", "ManageAccounts")'">No File</button>
    </div>

    <div>
        @Html.ActionLink("Back to Admin Dashboard", "AdminDashboard", "ManageAccounts")
    </div>

}