@model (IEnumerable<Group2_iCare.Models.AdminCreateUser>, IEnumerable<Group2_iCare.Models.AdminCreateUser>)

@{
    ViewBag.Title = "Manage Accounts";
}

<h2>Manage Accounts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h3>Admins</h3>
<div class="table-container">
    <table class="table w-100 overflow-x-scroll">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Item1.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.Item1.First().AdminEmail)</th>
            <th>@Html.DisplayNameFor(model => model.Item1.First().UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Item1.First().Password)</th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model.Item1) // Item1 contains the admins
        {
            <tr>
                <td>@Html.DisplayFor(_ => item.Name)</td>
                <td>@Html.DisplayFor(_ => item.AdminEmail)</td>
                <td>@Html.DisplayFor(_ => item.UserName)</td>
                <td>@Html.DisplayFor(_ => item.Password)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
</div>

<h3>Workers</h3>
<div class="table-container">
    <table class="table w-100 overflow-x-scroll">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Item2.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.Item2.First().Profession)</th>
            <th>@Html.DisplayNameFor(model => model.Item2.First().UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Item2.First().Password)</th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model.Item2) // Item2 contains the workers
        {
            <tr>
                <td>@Html.DisplayFor(_ => item.Name)</td>
                <td>@Html.DisplayFor(_ => item.Profession)</td>
                <td>@Html.DisplayFor(_ => item.UserName)</td>
                <td>@Html.DisplayFor(_ => item.Password)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
</div>
